version: "3"

services:
  ronnia-bot:
    build: .
    image: gcr.io/rising-study-267617/github.com/aticie/ronnia:v2.x.x
    restart: always
    volumes:
      - <change_this_path>:/mount
    env-file:
      - .env